
.header .top1 {
    z-index: 20;
    position: relative;
    width: 100%;
    height: 110px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8)0%, rgba(0, 0, 0, 0)100%);
}

.header .top1 .logo {
    float: left;
}

.header .top1 .logo img {
    height: 85px;
    margin: 10px 60px;
}

.header .top1 .nav {
    text-align: right;
    margin-right: 80px;
}

.header .top1 .nav li {
    display: inline-block;
    width: 120px;
    text-align: center;
    transition: .2s;
}

.header .top1 .nav .title a {
    text-decoration: none;
    color: #fff;
    margin: 35px 0 25px;
    line-height: 30px;
    font-size: 20px;
    transition: all 0.6s;
    display:inline-block;
    position:relative;
}

.bgimg {
    z-index: -200;
    height: 100%;
    width: 100%;
}

.bgimg img {
    width: 100%;
    height: 721px;
    object-fit: cover;
}

.container {
    height: 100%;
    /* background-color: rgb(239, 235, 234); */
    /* background-image: linear-gradient(to top, rgb(127, 192, 127), rgb(66, 151, 66, 0)); */
}

.container .part {
    width: 83%;
    margin: 40px auto;
    height: 100%;
}

.container .title {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    line-height: 120px;
    color: rgb(156, 28 ,44);
}

.container .content {
    width: 100%;
    height: 590px;
}

.container .card {
    background-color: #fff;
    box-shadow: 0 0 6px 0.3px rgb(204, 197, 197);
    float: left;
    width: 380px;
    height: 240px;
    margin: 20px;
    border-bottom: 5px solid rgb(156, 28 ,44);
    transition: all 0.5s ease;
}

.container .card:hover {
    box-shadow: 0 0 18px 2px rgb(206, 199, 199);
    transition: all 0.5s ease;
}

.container .card1 {
    /* background-image: linear-gradient(to top, rgba(0, 0, 0)0%, rgba(0, 0, 0, 0)50%); */
    background-size: contain;
    box-shadow: 0 0 6px 0.3px rgb(204, 197, 197);
    float: left;
    width: 380px;
    height: 240px;
    margin: 20px;
    border-bottom: 5px solid rgb(156, 28 ,44);
    transition: all 0.5s ease;
}

.container .card1:hover {
    box-shadow: 0 0 15px 1px rgb(206, 199, 199);
    /* cursor: pointer; */
    transition: all 0.5s ease;
    /* cursor: pointer; */
}

.container .part a {
    text-decoration: none;
    color: #000;
}

.container .part .card .date {
    margin: 35px 25px 15px 25px;
    font-size: 18px;
    font-family: 'Times New Roman';
}

.container .part .card .headline {
    font-weight: bold;
    font-size: 22px;
    margin: 15px 25px 15px 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.container .part .card1 .date {
    margin: 135px 25px 10px 25px;
    font-size: 18px;
    font-family: 'Times New Roman';
    color: #fff;
}

.container .part .card1 .headline {
    font-weight: bold;
    font-size: 22px;
    margin: 10px 25px 0 25px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* .container .card:hover .headline {
    color: rgb(156, 28, 44);
} */

.container .part .abstract {
    margin: 15px 25px 20px 25px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.container .part .more {
    float: none;
    width: 200px;
    height: 50px;
    background-color: rgb(156, 28, 44);
    margin: auto;
}

.container .part .more a {
    text-decoration: none;
    color: #fff;
    line-height: 48px;
    text-align: center;
    font-size: 20px;
}

.container .card2 {
    background-color: #fff;
    box-shadow: 0 0 6px 0.3px rgb(204, 197, 197);
    float: left;
    width: 380px;
    height: 150px;
    margin: 20px;
    border-bottom: 5px solid rgb(156, 28 ,44);
    transition: all 0.5s ease;
}

.container .card2:hover {
    box-shadow: 0 0 18px 2px rgb(206, 199, 199);
    transition: all 0.5s ease;
}

.container .part .card2 .date {
    margin: 25px 30px 15px;
    font-size: 18px;
    font-family: 'Times New Roman';
}

.container .part .card2 .headline {
    font-weight: bold;
    font-size: 22px;
    margin: 15px 30px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.part .title1 {
    width: 200px;
    background-color: rgb(156, 28 ,44);
    color: #fff;
    text-align: center;
    font-size: 30px;
    line-height: 70px;
    float: right;
    margin-right: 80px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 2px 5px 1px rgb(182, 181, 181);
}

.box {
    background-color: #fff;
    box-shadow: 0 0 6px 0.3px rgb(204, 197, 197);
    height: 360px;
    border-top: 6px solid rgb(156, 28 ,44);
    margin: 100px 0;
}

.box .left_box {
    float: left;
    margin: 50px 140px;
}

.box .left_box img {
    border-radius: 50%;
    height: 240px;
    width: 200px;
    object-fit: cover;
}

.box .right_box {
    margin-top: 70px;
}

.box .right_box .title2 {
    font-size: 30px;
    color: rgb(156, 28 ,44);
    font-weight: bold;
    line-height: 80px;
}

.box .right_box p {
    font-size: 22px;
    line-height: 45px;
}

.container .content-left {
    float: left;
}

.head_msg {
    height: 80px;
}

.head_msg .left_title {
    font-size: 35px;
    color: rgb(156, 28 ,44);
    font-weight: bold;
    float: left;
}

.head_msg a {
    text-decoration: none;
}

.head_msg .right_more {
    font-size: 20px;
    color: rgb(156, 28 ,44);
    float: right;
}

.full_msg .left_list {
    width: 850px;
    /* height: 600px; */
    float: left;
}

.full_msg .left_list .card22 {
    /* background-color: #fff; */
    background-color: rgb(156, 28 ,44);
    box-shadow: 0 0 6px 0.3px rgb(204, 197, 197);
    float: left;
    width: 810px;
    height: 150px;
    margin: 10px 0;
    /* border-bottom: 5px solid rgb(156, 28 ,44); */
    transition: all 0.5s ease;
}

.full_msg .left_list .card22:hover {
    box-shadow: 0 0 20px 2px rgb(184, 175, 175);
}

.full_msg .left_list .card22:hover img {
    transform: scale(1.1);
}

.full_msg .left_list .card22 .msg_img {
    float: left;
    margin: 18px;
    overflow: hidden;
}

.full_msg .left_list .card22 img {
    width: 180px;
    height: 115px;
    object-fit: cover;
    transition: all 0.6s;
}

.full_msg .left_list .card22 .msg_title {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    line-height: 60px;
    padding-top: 10px;
    margin-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.full_msg .left_list .card22 .msg_info {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 26px;
    padding-left: 10px;
    margin-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.full_msg .right_list {
    width: 400px;
    /* height: 600px; */
    float: right;
    margin-top: 10px;
}

.full_msg .right_list li {
    display: block;
}

.full_msg .right_list li .describe1 {
    width: 200px;
    height: 163px;
    background-color: rgb(156, 28 ,44, 0.8);
    float: left;
    box-shadow: 0 0 8px rgb(156, 28 ,44, 0.4) inset;
}

.full_msg .right_list li .describe2 {
    width: 200px;
    height: 163px;
    background-color: rgb(156, 28 ,44, 0.9);
    box-shadow: 0 0 8px rgb(156, 28 ,44, 0.3) inset;
    float: left;
}

.full_msg .right_list li h1 {
    color: #fff;
    text-align: center;
    font-size: 42px;
    font-weight: normal;
    margin-top: 40px;
}

.full_msg .right_list li p {
    color: #fff;
    text-align: center;
    font-size: 18px;
}

.container .card3 {
    background-color: #fff;
    box-shadow: 0 0 6px 0.3px rgb(204, 197, 197);
    width: 900px;
    height: 80px;
    margin: 10px;
    /* border-bottom: 5px solid rgb(156, 28 ,44); */
    transition: all 0.5s ease;
}

.container .card3:hover {
    box-shadow: 0 0 18px 2px rgb(206, 199, 199);
    transition: all 0.5s ease;
}

.container .card3 .name {
    float: left;
    line-height: 80px;
    width: 170px;
    text-align: center;
    font-size: 20px;
    color: rgb(161, 152, 150);
    border-right: 2px solid rgb(156, 28 ,44);
}

.container .card3 .headline {
    font-size: 17px;
    line-height: 80px;
    margin-left: 200px;
}

.container .content-right {
    float: right;
}

.container .content-right .card4 {
    background-color: #fff;
    height: 260px;
    width: 320px;
    margin: 10px;
    box-shadow: 0 0 6px 0.3px rgb(204, 197, 197);
    transition: all 0.5s ease;
}

.container .card4:hover {
    box-shadow: 0 0 18px 2px rgb(206, 199, 199);
    transition: all 0.5s ease;
}

.container .content-right .card4 video {
    object-fit: fill;
}

.container .content-right .card4 .video {
    float: left;
}

.container .content-right .card4 .info {
    position: absolute;
    height: 260px;
    width: 320px;
    background-image: linear-gradient(to top, rgb(0, 0, 0)0%, rgb(0, 0, 0, 0)70%);
}

.container .content-right .card4 .info .time {
    font-size: 20px;
    font-family: 'Times New Roman';
    margin: 130px 15px 10px;
    color: #fff;
}

.container .content-right .card4 .info .msg {
    font-size: 20px;
    margin: 10px 15px 0;
    color: #fff;
}

.images {
    height: 480px;
}

.images .left-img {
    width: 625px;
    height: 410px;
    float: left;
    overflow: hidden;
    margin: 3px;
}

.images .left-img img {
    width: 625px;
    height: 410px;
    object-fit: cover;
    transition: all 0.6s;
}

.images .right-img {
    float: right;
    width: 618px;
}

.images .right-img .image {
    width: 300px;
    height: 200px;
    float: left;
    margin: 4.3px;
    overflow: hidden;
}

.images .right-img img {
    width: 300px;
    height: 200px;
    transition: all 0.6s;
}

.images img:hover {
    transform: scale(1.1);
}

.images .right-img .readmore {
    width: 300px;
    height: 200px;
    background-image:linear-gradient(rgb(156, 28, 44, 0.7), rgb(156, 28, 44, 0.7)), url(https://www.zut.edu.cn/_mediafile/index/2017/10/12/3h1gdzqlcq.jpg);
    background-size: cover;
    color: #fff;
    float: right;
    font-size: 30px;
    text-align: center;
    line-height: 190px;
    margin: 4.3px;
}

.images .right-img a {
    text-decoration: none;
}

/* .images .right-img a:hover .readmore {
    background-size: s;
} */
